<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo Space</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body class="bg-slate-800">
    <header class="bg-slate-700 text-white flex justify-between items-center px-[clamp(20px,3.33vw,64px)] py-[clamp(8px,0.625vw,12px)]">
        <div class="flex items-center">
            <h1 class="text-[clamp(20px,3vw,40px)] cursor-pointer">Melodio</h1>
        </div>
        <form action="/search" method="GET" class="flex items-center relative rounded-full max-[500px]:hidden">
            <input 
                id="search"
                name="search"
                class="placeholder-inherit rounded-full block pl-7 pr-10 py-2 bg-slate-500 text-[clamp(12px,1.5vw,20px)]"
                type="text"
                placeholder="What do you want to Play?"
            >
            <button type="submit" class="absolute right-[5%]">
                <img class="w-[clamp(15px,1.667vw,24px)] cursor-pointer" src="assets/images/search.svg">
            </button>
        </form>
        
        <nav>
            <ul class="flex gap-[clamp(10px,1.9vw,40px)] items-center">
                <li class="list-hover cursor-pointer text-[clamp(12px,1.3888vw,22px)]">
                    <a href="#">Home</a>
                </li>
                <li class="list-hover cursor-pointer text-[clamp(12px,1.3888vw,22px)]">
                    <a href="/about">About</a>
                </li>
                <li><button class="bg-slate-300 text-black px-[clamp(5px,1.111vw,20px)] py-[clamp(1.25px,2.7775vw,5px)] rounded-full hover:scale-105 text-[clamp(12px,1.3888vw,22px)]" id="login">Login</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="py-5 flex flex-col gap-4 relative">
            <h2 class="text-white text-[clamp(16px,1.945vw,28px)] font-medium px-[clamp(24px,4vw,76.8px)]">Sad Songs</h2>
            <div class="mask">
                <div class="absolute left-2 top-1/2 -translate-y-1/2">
                    <button class="z-10 btn-left"><img class="w-8" src="/assets/images/leftArrow.svg" alt="Scroll Left"></button>
                </div>
                <div class="absolute right-2 top-1/2 -translate-y-1/2 right-arrow">
                    <button class="z-10 btn-right"><img class="w-8" src="/assets/images/rightArrow.svg" alt="Scroll Right"></button>
                </div>
                <ul class="hide-scrollbar flex gap-5 overflow-y-scroll px-[clamp(24px,4vw,76.8px)] song-list">
                    <li class="flex flex-col gap-2 flex-shrink-0 hover:bg-slate-700 rounded-sm cursor-pointer">
                        <figure class="p-1">
                            <img class="w-36 rounded-sm" src="/assets/images/image.png">
                        </figure>
                        <div class="pl-3 pb-2 flex flex-col">
                            <p class="text-white text-[clamp(14px,1.5vw,21.5px)]">Bargad</p>
                            <p class="text-slate-300 text-[clamp(11.5px,1.111vw,16px)] text-sm">Authors</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <script src="/js/index.js"></script>
</body>
</html>