<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melodio</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/custom.css">
</head>
<body class="bg-slate-800">
    <header class="bg-slate-700 text-white flex justify-between items-center px-4 py-1">
        <div class="flex items-center">
            <h1 class="text-3xl cursor-pointer">Melodio</h1>
        </div>
        <form action="/search" method="GET" class="flex items-center relative rounded-full">
            <input 
                id="search"
                name="search"
                class="placeholder-inherit rounded-full block px-5 py-1 bg-slate-500"
                type="text"
                placeholder="What do you want to Play?"
            >
            <button type="submit" class="absolute right-3">
                <img class="w-6 cursor-pointer" src="/public/assets/images/search.svg">
            </button>
        </form>
        
        <nav>
            <ul class="flex gap-4">
                <li class="list-hover cursor-pointer">Home</li>
                <li class="list-hover cursor-pointer">About</li>
                <li><button class="bg-slate-300 text-black px-2 rounded-full hover:scale-105">Login</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="catagory py-5 flex flex-col gap-4 relative">
            <h2 class="text-white text-xl font-semibold px-6">Sad Songs</h2>
            <div id="mask">
                <div id="leftArrow" class="absolute left-2 top-1/2 -translate-y-1/2">
                    <button id="btn-left" class="z-10"><img class="w-8" src="../public/assets/images/leftArrow.svg" alt=""></button>
                </div>
                <div id="rightArrow" class="absolute right-2 top-1/2 -translate-y-1/2">
                    <button id="btn-right" class="z-10"><img class="w-8" src="../public/assets/images/rightArrow.svg" alt=""></button>
                </div>
                <ul class="hide-scrollbar flex gap-5 overflow-y-scroll px-5" id="song-list">
                    <li class="flex flex-col gap-2 flex-shrink-0 hover:bg-slate-700 rounded-sm">
                        <figure class="p-1">
                            <img class="w-36 rounded-sm" src="../public/assets/images/image.png">
                        </figure>
                        <div class="pl-3 pb-2 flex flex-col">
                            <p class="text-white font-medium">Bargad</p>
                            <p class="text-slate-300 text-sm">Authors</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <script src="../public/js/index.js"></script>
</body>
</html>