<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="bg-slate-800">
    <main class="text-white flex flex-col items-center justify-center h-[90vh]">
        <div class="bg-slate-700 px-10 py-10 flex flex-col gap-8 form-box">
            <h1 class="text-[clamp(24px,4.9157vw,56px)] text-center">Welcome Back</h1>
            <form action="/request" method="post" class="flex flex-col gap-6">
                <div class="flex flex-col gap-2">
                    <label class="text-[clamp(14px,2.8vw,22px)]" for="email">Email</label>
                    <input class="px-4 py-2 bg-transparent outline-none border border-gray-400 rounded-[4px] focus-visible:border-white text-[20px]" type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="flex flex-col gap-2">
                    <label class="text-[clamp(14px,2.8vw,22px)]" for="password">Password</label>
                    <input class="px-4 py-2 bg-transparent outline-none border border-gray-400 rounded-[4px] focus-visible:border-white text-[20px]" type="password" name="password" id="password" placeholder="Enter your password">
                </div>
                <button class="px-4 py-3 bg-cyan-800 rounded-full text-[clamp(18px,2.8vw,22px)]" type="submit">Login</button>
            </form>
        </div>
        <div class="py-5 flex flex-col items-center gap-3">
            <p class="text-[20px]">New to Melodio?</p>
            <a class="text-gray-400 text-[20px] hover:text-gray-100" href="/register">Sign up here</a>
        </div>
    </main>
    
</body>
</html>