<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="bg-slate-800">
    <main class="text-white flex flex-col items-center justify-center h-[90vh]">
        <div class="bg-yellow-700/30 text-yellow-300 text-sm p-3 rounded mb-4">
            ⚠️ This is a demo project. Please enter a <span class="font-semibold">real email</span> so we can send a confirmation message,
            but <span class="font-semibold">do NOT use your actual password</span>. Use UNIQUE password.
        </div>
        
        <div class="bg-slate-700 px-10 py-10 flex flex-col gap-8 form-box">
            <h1 class="text-[clamp(24px,4.9157vw,56px)] text-center">Welcome</h1>
            <form action="/request" method="post" class="flex flex-col gap-6">
                <div class="flex flex-col gap-2">
                    <label class="text-[clamp(14px,2.8vw,22px)]" for="email">Email</label>
                    <input class="px-4 py-2 bg-transparent outline-none border border-gray-400 rounded-[4px] focus-visible:border-white text-[20px]" type="email" name="email" id="email" placeholder="Enter your real email" autocomplete="email">
                </div>
                <div class="flex flex-col gap-2">
                    <label class="text-[clamp(14px,2.8vw,22px)]" for="password">Password</label>
                    <input class="px-4 py-2 bg-transparent outline-none border border-gray-400 rounded-[4px] focus-visible:border-white text-[20px]" type="password" name="password" id="password" placeholder="Password (use a fake one)" autocomplete="off">
                </div>
                <button class="px-4 py-3 bg-cyan-800 rounded-full text-[clamp(18px,2.8vw,22px)]" type="submit">Register</button>
            </form>
        </div>
        <div class="py-5 flex flex-col items-center gap-3">
            <p class="text-[20px]">Already have an account?</p>
            <a class="text-gray-400 text-[20px] hover:text-gray-100" href="/login">Login here</a>
        </div>
    </main>
    
</body>
</html>