.list-hover {
    position: relative;
}

.list-hover::before,
.list-hover::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.25s ease-out;
}

.list-hover::before {
    left: 50%;
    transform: translateX(-50%);
}

.list-hover::after {
    right: 50%;
    transform: translateX(50%);
}

.list-hover:hover::before,
.list-hover:hover::after {
    width: 100%;
}

.hide-scrollbar {
    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer and Edge (legacy) */
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.fade-left {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 100%
    );
    mask-size: 100% 100%;
}

.fade-both {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    mask-size: 100% 100%;
}

.fade-right {
    mask-image: linear-gradient(
        to right,
        black 0%,
        black 90%,
        transparent
    );
    mask-size: 100% 100%;
}
